/* ==|======================
   Layout / Content Sections
   ========================= */

// These blocks are the one at the base
// of our content such as the <header>, <main>
// and <footer>. They should take the full
// page width and have a base padding
.l-base-section {
  padding: var(--base-padding, 1rem);

  @include mq($from: desktop) {
    padding: calc(var(--base-padding, 2rem) * 2);
  }
}

// The content inside our base sections
// may not take the full width of its parent.
// Hence we give it a max-width, make it take
// its parent's height and center it
.l-base-section__content-wrapper {
  width: 100%;
  max-width: var(--max-content-width);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(.l-hero-section) {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include mq($from: tablet) {
      padding-top: 4rem;
      padding-bottom: 4rem;    
    }
  }
}

.section__title {
  margin-bottom: 3rem;
}