/* ==|====================
   Layout / Forms
   ======================= */

.l-form {
  display: flex;
  width: 100%;
  font-family: var(--color-primary);

  @include mq($from: mobile, $until: 500px) {
    flex-direction: column;
  }
}

.l-form--subscribe-alpha {
  .l-form__email {
    flex-grow: 1;
  }

  .l-form__submit {
    margin-top: 1rem;

    @include mq($from: 500px) {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
}