/* ==|====================
   Layout / Header
   ======================= */

.l-main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.l-main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-main-header__nav {
  display: none;

  @include mq($from: $header-nav-breakpoint) {
    display: flex;
  }
}

.l-main-header__nav__item-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-main-header__nav__item {
  & + & {
    margin-left: 1rem;
  }
}


