/* ==|======================
   Layout / Hero Sections
   ========================= */

.l-hero-section {
  margin-bottom: 2rem;
  background-image: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  text-align: center;
}

.l-hero-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-hero-section__title {
  @include mq($from: tablet) {
    max-width: 80%;
  }
}

.l-hero-section__subtitle {
  @include rms(1);
}

.l-hero-section__cta {
  display: inline-block;
  margin-top: 2rem;
}