/* ==|======================
   Layout / Hero Sections
   ========================= */

.l-hero-section {
  margin-bottom: 2rem;

  @include mq($from: 600px) {
    padding: 4rem 50% 4rem 0;
    background-image: url('../icons/patterns-system.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;
  }
}

.l-hero-section__subtitle {
  @include rms(2);
}

.l-hero-section__cta {
  display: inline-block;
  margin-top: 1rem;

  @include mq($from: $header-nav-breakpoint) {
    display: none;
  }
}