/* ==|====================
   Layout / Media Wrappers
   ======================= */

// Media wappers are blocks containings media objects
.media-wrapper {
  display: flex;

  @include mq($from: mobile, $until: mobileLandscape) {
    flex-direction: column;
  }
  @include mq($from: mobileLandscape) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}