// ----------------------
// == Colors
// ----------------------

// Graphic chart
:root {
  --color-white: #fff;
  --color-black: #2e2e2e;
  --color-red: #fa4a4a;
  --color-blue: #202f55;
  --color-grey: #909090;
  --color-lightgrey: #e5e7ea;
  --color-orange: #d35400;
  --color-green: #27ae60;
  --color-purple: #7a57d1;
  --color-yellow: #f1c40f;

  --color-primary: var(--color-purple);
  --color-error: var(--color-red);
  --color-success: var(--color-green);
}



// Using Sass Maps as explained here : https://jonsuh.com/blog/sass-maps/
$social-colors: (
  facebook: #3b5998,
  twitter: #43bfe1,
  dribbble: #ea4c89,
  github: #171515,
  google: #db4437,
  youtube: #c4302b,
  linkedin: #3272bd
);

@each $social-network,
$social-color in $social-colors {
  .icon--#{$social-network} {
    color: $social-color;
  }
}
// Example : <a class="icon icon--dribbble">Dribbble</a>

