/* =======================
   Components / Buttons
   ======================= */

.m-btn {
  padding: .5rem 1rem;
  border: 1px solid var(--color-purple-10);
  border-radius: var(--border-radius);
  color: var(--color-primary);
  text-decoration: none;
  @include transition;
  will-change: background-color;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.m-btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}