/* ==|====================
   Components / Links
   ======================= */

.a-link {
  color: var(--color-purple);
  text-decoration: none;
  @include transition;
  will-change: color;

  &:hover {
    color: var(--color-primary);
  }
}