/* ==|====================
   Components / Logo
   ======================= */

.c-logo {
  height: 2rem;
  width: 7rem;
}

.c-logo__icon {
  height: 100%;
  width: 100%;
  fill: var(--color-black);
}

