/* ==========================
   Components / Media Objects
   ========================== */

// For Further informations read : 
// https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
.media {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
  @include mq($from: mobile, $until: tablet) {    
    & + & {
      margin-top: 3rem;
    }
  }

  @include mq($from: tablet) {
    width: calc((100% - 6rem) / 3);
    
    &:nth-child(n+4) {
      margin-top: 3rem;
    }
  }
}

.media--full {
  @include mq($from: tablet) {
    flex-direction: row;
    align-items: center;
    width: 100%;

    .media__figure {
      max-width: 50%;
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
}

.media--content-reversed {
  @include mq($from: tablet) {
    .media__figure {
      order: 1;
      margin-left: 2rem;
      margin-right: 0;
    }
  }
}

.media--content-v-centered {
  align-items: center;
  text-align: center;
}

.media--content-left {
  justify-content: flex-end;
}

.media__figure {
  margin-bottom: var(--padding-media);

  svg {
    width: 7rem;
  }
}

.media__body {
  flex: 1;
}

.media__title {
  @include rms(1);
  margin-bottom: calc(var(--padding-media) / 2);
  color: var(--color-black);
}

.media__text {
  margin-bottom: var(--padding-media);
}